.header-wrapper {
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
  /* width: 75%; */
  justify-content: space-between;
}

.header-search-bar {
  display: flex;
  background: #fff;
  align-items: center;
  padding: 2px 4px;
  gap: 5px;
  border-radius: 7px;
  width: 150px;
}

.search-icon {
  color: #898989;
}

.search-bar-text {
  color: #898989;
}

.header-welcome {
  font-weight: 700;
  font-size: large;
}
